<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Pedido {{ pedido.id }}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">   
    </head>
    
    <body class="p-3">
        <header class="px-3 d-flex align-items-center">
            <img src="{{ configuracoes.logo.url }}" alt="Logo da Empresa" width="150" height="150">
            <div class="ml-3">
                <h4><strong>{{ configuracoes.nome_empresa }}</strong></h4>
                <p>{{ configuracoes.logradouro }} N° {{ configuracoes.numero }}, {{ configuracoes.bairro }} Cep: {{ configuracoes.cep }} {{ configuracoes.cidade }} - {{ configuracoes.estado }} </p>
                <p></p>
                <p><strong>Telefone:</strong> {{ configuracoes.contato }}</p>
                
            </div>
        </header>
        <div>
            
            <h5 class="text-center py-2">ORÇAMENTO N°: {{ pedido.data|date:"Ydm" }}-{{ pedido.id }}</h5> 
            <h5 class="text-center py-3">Dados do Cliente:</h5>
            <p id="dataAtual"></p>
        </div>  
        <div>
            <span class="col-3"><strong>NOME:</strong> {{ pedido.nome_cliente|upper }}</span>
            <span class="col-3"><strong>CPF/CNPJ:</strong> {{ pedido.cpf_cnpj }}</span>
            <span class="col-3"><strong>TELEFONE:</strong> {{ pedido.contato }}</span>
            <span class="col-3"><strong>DATA DO PEDIDO:</strong> {{ pedido.data|date:"d/m/Y" }}</span>
        </div>
        
        <table class="table table-bordered px-3">
            <thead>
                <tr>
                    <th class="text-center table-active">Quant.</th>
                    <th class="text-center table-active">Produtos</th>
                    <th class="text-center table-active">Descrição Impresso</th>
                    <th class="text-center table-active">Valor Unitário</th>
                    <th class="text-center table-active">Valor Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{{ pedido.quantidade }}</td>
                    <td class="text-center">{{ pedido.produto }}</td>
                    <td class="text-center">{{ pedido.descricao_impresso }}</td>
                    <td class="text-center">R$ {{ pedido.valor_unitario }}</td>
                    <td class="text-center">R$ {{ pedido.valor_total }}</td>
                </tr>
                <tr class="table table-bordered">
                    <th class="text-center table-active" colspan="5">Descrição do Pedido</th>
                </tr>
                <tr>
                    <td class="multiline" colspan="5" rowspan="3">{{ pedido.descricao_pedido }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-right" colspan="4">Total:</th>
                    <th class="text-center">R$ {{ pedido.valor_total }}</th>
                </tr>
            </tfoot>
        </table>
        <div class="float-right d-print-none">
            <button type="button" class="btn btn-success" onclick="window.print()">Imprimir / Salvar PDF</button>
        </div>
        <!-- Importar Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'scripts/impressao.js' %}"></script>
        <script src="{% static 'scripts/acessibilidade.js' %}"></script>
    </body> 
</html>
