<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <!-- Fontes Anek -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wdth,wght@87.5,100..800&display=swap" rel="stylesheet">
    
  </head>
  <body class="cordefundologin">
      <!-- Botões para ajustar o tamanho da fonte e Dak mode-->
      <div class="text-right p-3">
        <button class="btn btn-light" id="decreaseFont">A-</button>
        <button class="btn btn-light" id="increaseFont">A+</button>
        <i class="fa-solid fa-circle-half-stroke" id="invertColors" ></i>
      </div>

      <!-- logo -->
      <div class="d-flex justify-content-center align-items-center mt-4">
        <img src="{% static 'image/logo_192_dark.png' %}" alt="Logo" style="width: 80px;" />
        <h1 class="ml-3 titulo" >Orça Facil</h1>
      </div>

      <!-- login -->
      <div class="container mt-4 ">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header text-center"><strong>Login</strong></div>
              <div class="card-body shadow-lg">
                <form method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button type="submit" class="btn btn-success btn-block mt-3">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer shadow-sm mt-4 fixed-bottom">
        <div class="text-center p-3">
          <a target="_blank" href="https://github.com/phaleixo/orcamento">PROJETO PI II - UNIVESP - 2024</a>
        </div>
      </footer>

      <!-- link para o arquivo JavaScript do Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="{% static 'scripts/acessibilidade.js' %}"></script>

  </body>
</html>
